# Go build cache and module cache inside repo
.go/
.cache/

# VS Code settings
.vscode/

# Devcontainer metadata
.devcontainer/*.log
.devcontainer/devcontainer.local.json
.devcontainer/certs/*.pem
.devcontainer/certs/*.crt
shared/*

debug.log