name: SwarmCLI CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  lint-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true

    - name: Install golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest

    - name: Run lint
      run: golangci-lint run ./... --build-tags=integration

    - name: Build CLI
      run: go build -v -o swarmcli .

    - name: Build Docker Image
      run : docker build -t swarmcli-dev .
